<% if !user_signed_in? %>
    <h1>Download Your Favorite Movies Here</h1>
    <p>Welcome! lorem ipsum serum stetum lorem ipsum serum stetum lorem ipsum serum stetum lorem ipsum serum stetum.</p>
    <p><%= link_to "Sign Up To Share Your Movie", new_user_registration_path, class: "btn  btn-primary btn-lg" %></p>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag movie.image.url(:medium), class: "image"), movie%>
    </div>
  </div>
  <% end %>
</div>